<div class="input-section">
    <div class="search-row">
        <input 
            type="text" 
            class="pokemon-input" 
            ${ref('searchInput')}
            :placeholder="'pokedex.enterPokemon'.t()"
            @keyup="${(x, c) => x.handleKeyUp(c.event)}"
        >
        <button 
            class="btn-search" 
            @click="${x => x.handleSearch()}" 
            :disabled="${x => x.isGenerating}">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>