<div class="input-section">
    <div class="search-row">
        <input 
            title="${'pokedex.search_input'.t()}"
            type="text" 
            class="pokemon-input" 
            ${ref('searchInput')}
            :placeholder="'pokedex.enterPokemon'.t()"
            @keyup="${(x, c) => x.handleKeyUp(c.event)}"
        >
        <button 
            title="${'pokedex.search'.t()}"
            class="btn-search" 
            @click="${x => x.handleSearch()}" 
            :disabled="${x => x.isGenerating}">
            <i class="fa fa-search"></i>
        </button>
        ${when(x => x.isGenerating || x.canInterrupt, html`
            <button 
                title="${'pokedex.stopStreaming'.t()}"
                class="btn-stop" 
                @click="${x => x.handleStop()}">
                <i class="fa fa-stop"></i>
            </button>
        `)}
        ${when(x => x.hasConversation && !x.isGenerating && !x.canInterrupt, html`
            <button 
                title="${'pokedex.clearConversation'.t()}"
                class="btn-interrupt" 
                @click="${x => x.handleInterrupt()}">
                <i class="fa fa-trash"></i>
            </button>
        `)}
    </div>
</div>
