<div class="pokedex-header">
    <!-- Lens Container -->
    <div class="lens-container">
        <div class="lens blue"></div>
        <div class="lens red"></div>
        <div class="lens yellow"></div>
        <div class="lens green"></div>
    </div>
    
    <!-- Status and Controls -->
    <div class="status-controls">                
        <button class="btn-settings" @click="${x => x.handleSettingsClick()}" :title="'pokedex.settings'.t()">
            <i class="fa fa-cog"></i>
        </button>
    </div>
</div>